
////////////////////////////////////////////////////////////
html, body {
    margin: 0;
    height: max-content;
    overflow-y: auto;
    overflow-x: hidden;

    font-family: 'BareunDotum', sans-serif;
    max-width: 100%;
}
#saveChangeButton {
  margin: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  box-shadow: none;
}
#userInfoForm {
  margin-left: 20px;
  font-weight: bold;
}
table {

  border: 1px solid #444444;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #444444;
  text-align: center;
}

ul {
  align-items: center;
  padding: 5px;
}
li {
  list-style-type: none;
}

button {
  margin: 5px;
  padding: 5px;
}
.subjectButton {
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  box-shadow: none;
}
.trackButton {
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  box-shadow: none;
}
#mathmaticalScience ul li {
  float: left;
}
