body {
	margin: 20px;
	padding: 0;
	background: #f7f7f7;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
}
#userInfoForm {
  margin-left: 20px;
  font-weight: bold;
}
table {
  border-style: solid;
  border-collapse: collapse;
}
th, td {
  border-style: solid;
}
.initiative {
	min-width: 300px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #eee;
	// padding: 20px; // 20px 20px 20px 20px t r b l
}

.ticket-info {
	overflow: auto;
	margin-bottom: 10px;
	// border: 2px solid black;
}

.ticket,
.description {
	display: inline-block;
}

.ticket {
	font-weight: bold;
}
.description {
	color: grey;
}

.status {
	text-align: right;
	float: right;
}

.progressbar {
	border: 1px solid black;
	overflow: auto;
	width: 100%;
}

.progress-section {
	height: 30px;
	background: #eee;
	float: left;
	width: auto;
}

.complete {
	background: green;
}
.inprogress {
	background: yellow;
}
.notstarted {
	background: red;
}
